.hero {
  margin-bottom: var(--mantine-spacing-xl);
}

.title {
  font-size: px-to-rem(32px);
  letter-spacing: -0.02em;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: px-to-rem(26px);
  }
}